#logo{
  height: 100px;
  width: 100px;
  margin-left: 190px;
}
#secondrow{
  text-align: center;
  padding-top: 20px;
  background-image: url("http://wallpaper-gallery.net/images/website-wallpaper/website-wallpaper-26.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left:90px;
  margin-right: 90px;
  color: white;
  font-family: 'Exo', sans-serif;
}
.header{
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}
#rulesrow{
  margin-left:90px;
  margin-right: 90px;
  border-left: inset;
  border-right: inset;
  margin-top: 90px;
  margin-bottom: 90px;
}
.gamepic{
  height: 300px;
  width: 300px;
}
#maingame{
  margin:40px;
  display: none;
}
#firstpic{
  margin-left: 10px;
  margin: 40px;
}
#thirdpic{
  margin-left: 30px;
  margin: 40px;
}
#secondpic{
  margin-left: 40px;
  margin-right: 40px;
}
#score{
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
#mainresult{
  display: none;
}
